<form [formGroup]="itemUpdate" (ngSubmit)="onSubmit()" class="formControl">
  <div class="form-group">
    <label for="txtId">Id </label>
    <select id="txtId" type="text" formControlName="id" (change)="onChange($event.target)" required>
      <option value="" disabled selected hidden>Please Choose...</option>
      <option *ngFor="let row of listOfIds" [value]="row.id"> {{ row.id }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="txtItem">Item </label>
    <input  id="txtItem" type="text" formControlName="item">
  </div>
  <div class="form-group">
    <label for="txtRate">Rate </label>
    <input  id="txtRate" type="number" formControlName="rate">
  </div>
  <div class="form-group">
    <label for="txtQuantity">Quantity </label>
    <input  id="txtQuantity" type="number" formControlName="quantity">
  </div>
  <button class="btn btn-primary"  type="submit"> Update </button>
</form>
