<div class="container">
  <div class="container_form">
    <nav class="container_form--nav">
      <button class="btn btn-link" (click)="changeForm('CREATE')">Create Item</button>
      <button class="btn btn-link" (click)="changeForm('UPDATE')">Update Item</button>
      <button class="btn btn-link" (click)="changeForm('DELETE')">Delete Item</button>
    </nav>
    <app-create-item *ngIf="showCreate"></app-create-item>
    <app-update-item *ngIf="showUpdate"></app-update-item>
    <app-delete-item *ngIf="showDelete"></app-delete-item>
  </div>
  <div class="container_table" #tableView>
    <app-table [dataSource]="tableData"></app-table>
  </div>
  <div class="container_footer">
    <span> Total amount: {{ amountSum }} </span>
    <button class="btn btn-secondary" (click)="printTable()"> Print Table</button>
  </div>

</div>
